<template name="rightSidebar">
	<div class="right-sidebar">
		<div class="tabs-header">
			<a id="filters-tab" class="{{activeTabClass 'filters-tab'}} tab"> <i class="fa fa-filter"></i> Filters</a>
			<a id="members-tab" class="{{activeTabClass 'members-tab'}} tab"> <i class="fa fa-users"></i> People</a>
		</div>
		<div id="filters-tab" class="tab-body {{activeTabClass 'filters-tab'}}">
			{{> filterTab}}
		</div>
		<div id="members-tab" class="tab-body {{activeTabClass 'members-tab'}}">
			{{> memberList}}
		</div>
	</div>
</template>
