<template name="rightSidebar">
	<div class="right-sidebar">
		<div class="tabs-header">
      <a id="done-tab" class="{{activeTabClass 'done-tab'}} tab"> <i class="fa fa-check-circle"></i> Done</a>
			<a id="filters-tab" class="{{activeTabClass 'filters-tab'}} tab"> <i class="fa fa-filter"></i> Filters</a>
			<a id="members-tab" class="{{activeTabClass 'members-tab'}} tab"> <i class="fa fa-users"></i> People</a>
		</div>
		<div id="items-tab" class="tab-body {{activeTabClass 'items-tab'}}">
			<!--<div class="filter-sentence-wrapper">
				<span id="filter-sentence">{{{filterSentence}}}</span> <span id="active-item-msg" class="{{showActiveItemMsgClass}}">#{{currentItemKey}} is active <i id="clear-active-item-icon" class="fa fa-times" title="Clear active item"></i></span>
			</div>-->
			{{> itemList}}
		</div>
    <div id="done-tab" class="tab-body {{activeTabClass 'done-tab'}}">
			{{> doneList}}
		</div>
		<div id="labels-tab" class="tab-body {{activeTabClass 'labels-tab'}}">
			{{> labelsList}}
		</div>
		<div id="filters-tab" class="tab-body {{activeTabClass 'filters-tab'}}">
			{{> filterTab}}
		</div>
		<div id="members-tab" class="tab-body {{activeTabClass 'members-tab'}}">
			{{> memberList}}
		</div>
	</div>
</template>
