@import 'jeet'
@import 'variables.import'

*
 	font-family font-main

html
	overflow hidden
	padding 0
	margin 0
	height: 100%;
	width: 100%;

body
	overflow hidden
	padding 0
	margin 0
	height 100% !important
	width 100% !important

#app
	height 100%
	.sidebar
		height 100%
		top 0
		left 0
		bottom 0
		position fixed
		display block
		width sidebar-width
		color gray
		background-color black

		a
			color: gray
			text-decoration: none;

		ul
			padding-top:10px;
			list-style: none
			li
				display: block
				margin: 0 0 10px 0

		+below(600px)
			stack()
			ul
				center(200px)
				li
					display: inline
					margin: 0 15px 0 0

	.main
		height 100%
		padding-left sidebar-width
		padding-bottom footer-height
		+below(600px)
			stack()

#message-list {
	xbackground-color: gray;
    top: header-height;
    position: relative;
    height: "calc(100% - %s)" % (header-height + footer-height + 40);
	overflow: auto;
	border-top: 1px solid lightgray
	border-bottom: 1px solid lightgray;
}

#show-more-link {
	font-size: 0.7rem;
    margin-left: 10px;
}

.user-message
    padding 10px
    list-style-type none

	#created-at
		color: lightgray;
		font-size: 0.8rem;

.user-message.selected
    background-color orange

header
	position fixed
	left 0
	top 0
	width 100%
	height header-height
	background-color white
	margin-left: sidebar-width

footer
	position fixed
	left 0
	bottom 0
	width 100%
	height footer-height
	background-color white
	margin-left: sidebar-width

#login-wrapper
  margin-left 20px

  a
  	color white

fieldset, input, textarea
	margin 0
	padding 0
	border 0
	font-size 100%
	vertical-align baseline
	resize none
	margin-bottom 30px
	outline none

textarea
	min-height 70px

form
	padding 30px
	width 60%
	margin-bottom:10px

input, textarea
	border 1px solid lightgray
	border-radius 4px
	padding 5px
	width 100%

label
	display block

footer
	padding 10px

#message-box
	width calc(100% - 340px)

#header-main-title
	padding:10px
	font-size 2rem
	margin-left 40px

#header-new-messages-toast
	margin-left: 50px;
	background-color: #FF5B5B;
	padding: 5px 10px 5px 10px;
	color: white;
	border-radius: 10px;
	font-size: 1rem;
	text-decoration: none;

#header-title-msg-count
	color: gray

#loading-more
	margin-left:10px

#loading-more-icon
	color:gray;
	position:relative;
	top:5px;
