@import 'jeet'
@import 'nib'
@import 'variables.import'


* {
 	font-family font-main
}

html
	overflow hidden
	padding 0
	margin 0
	height: 100%;
	width: 100%;

body
	overflow hidden
	padding 0
	margin 0
	height 100% !important
	width 100% !important

html:not(.touch) {
	text-rendering: optimizeLegibility;
}

#messageHistory {
	xbackground-color: gray;
    top: header-height - 20px;
    position: relative;
    height: "calc(100% - %s)" % (top-banner-height+header-height+footer-height+40);
	overflow: auto;
	padding-left:10px;
	padding-right:10px;
}

#app #top-banner {
	padding-top:10px;
	height:top-banner-height;
	background-color: #455a64;

	#main-title {
		a {
			font-size:20px;
			color:white;
			font-weight:bold;
			text-decoration:none;
			position:relative;
			top:5px;
		}

		padding-top:10px;
		padding-left:10px;

		.project-title {
			font-size:18px;
			color:white;
			text-transform: uppercase;
			position:relative;
			left:0px;
			top:-5px;

		}

		.project-key {
			position:relative;
			top:-5px;
			font-size:10px;
			color:gray;
		}
	}

	.left {
		color: white;
		display:flex;
	}

	.right {
		color: white;
    	margin-top: -20px;
    	margin-right: 10px;
		display:flex;
		float:right;
	}
}

#app {
	height 100%
	.right-sidebar {
		height "calc(100% - %s)" % (top-baner-height + header-height);
		top top-banner-height + header-height + 20;
		right 0
		bottom footer-height + 42px;
		position fixed
		display block
		width right-sidebar-width
		color black
		background-color white;
		z-index:10
		border-left: 1px solid lightgray;

		.header-text {
			padding-left:10px;
			font-weight:bold;
			color:gray;
			font-size:14px;
		}

		.action-buttons {
			margin:0;
			padding:10px;
		}
		.action-button {
			font-size:14px;
			list-style-type:none;
			margin:0;
			padding:0;
			background: -webkit-linear-gradient(top,#fff 0,#f8f9f9 100%);
			background: linear-gradient(to bottom,#fff 0,#f8f9f9 100%);
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			border: 1px solid #e2e4e6;
			border-bottom-color: #cdd2d4;
			cursor: pointer;
			display: block;
			font-weight: 700;
			height: 34px;
			margin-top: 6px;
			max-width: 300px;
			overflow: hidden;
			padding: 7px;
			position: relative;
			text-overflow: ellipsis;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			white-space: nowrap;
			border-radius:5px;

			a {
				display:block;
				width:100%;
				height:100%;
				text-decoration:none;
				color: #6C6C6C;
			}

			i {
				color:gray;
			}
		}

		.action-button:active, .action-button:hover {
    		background: #0079bf;
    		border-color: #0079bf #0079bf #055a8c;
			color: white;
			a {
				color:white;
			}
		}
	}

	.left-sidebar {
		height "calc(100% - %s)" % top-baner-height;
		top top-banner-height;
		left 0
		bottom 0
		position fixed
		display block
		width left-sidebar-width
		color gray
		background-color white
		z-index:999
		border-right: 1px solid lightgray;
		box-shadow: 0 6px 6px rgba(0,0,0,0.35);

		#active-list {
			cursor:pointer;
			padding-left:10px;
			font-size:16px;
		}

		#list-menu {
			margin:0;
			padding:0;
			background: whitesmoke;

			li {
				margin:0;
				list-style-type:none;
				padding:20px;
				a {
					font-size:1
				}
			}

			li:hover {
				background:lightgray;
			}
		}

		.item-list {
			margin:0
			padding: 0
			list-style: none
			overflow: auto;
			height: calc(100% - 58px);
		}
	}
	.main {
		height 100%
		padding-left left-sidebar-width
		padding-right right-sidebar-width
		padding-bottom footer-height
	}
}

#app .left-sidebar #board-item {
	cursor:pointer;
	height: 57px;
	border-bottom: 1px solid lightgray;

	.item-msg-count {
		top: 20px;
		right: 8px;
	}

	#content {
		overflow:ellipsis;
		font-size:20px;
		position: relative;
		padding-left:10px;
    	top: 5px;
		color:black;
	}

}

#app .left-sidebar a.item
	text-decoration: none;


#app .left-sidebar .item.closed #content #title {
	text-decoration: line-through;
}

#app .left-sidebar .item
	position:relative;
	display: block
	padding:10px;
	padding-bottom:20px;

	#type-icon {
		float: left;
		font-size:2.5rem;
		margin-right: 10px;
		color: #ccc;
	}

	.item-msg-count {
		background:#FF4100;
		border-radius:20px;
		text-align:center;
		min-width:10px;
		padding:3px 5px 3px 5px;
		color:white;
		position:absolute;
		top:15px;
		right:10px;
		font-size:10px;
		display:none;

		i {
			font-size:1.2em;
		}
	}

	.item-msg-count.new-messages {
		color:white;
		font-weight:bold;
		display:block;
	}

	#content
		padding-left:50px;
		padding-right:50px;

	#title
		font-size:14px;
		color: #656565;
		font-weight: 600;
	#meta
		font-size: 12px;
		color:gray;
		overflow: ellipsis;


#app .left-sidebar .item:hover
	background-color:#e7edf3;
#app .left-sidebar .item.active
	background-color:#e7edf3;

#show-more-link {
	font-size: 0.7rem;
    margin-left: 10px;
}

.message {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
	list-style-type none;

	.header-item {
		font-size:12px;
		color:#C5C4C4;


		a {
			color:#C5C4C4;
		}
	}

	strong.header-item {
		color:black;
	}


	.profile-image {
		width:34px;
		height:34px;
		margin-top:5px;
		float:left;
		border-radius:30px;
	}

	.content {
		padding-left:50px;
		color: #737272;
		font-size: 16px;
	}
}

.board-title {
	color:#2CA1D6;
	cursor:pointer;
	font-size:12px;
}

.message .board-title:hover {
	text-decoration:underline;
}

.message p:first-child {
	margin-top:0;
	margin-bottom:5px;
}

.message.new-day:before {
	content: attr(data-date);
	display: block;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	z-index: 10;
	padding: 10px;
	background-color: whitesmoke;
	xborder-top: 1px solid black;
	xborder-bottom: 1px solid black;
	border: 1px solid lightgray;
	margin-bottom: 30px;
	margin-top: 30px;
}

.message.new-day:after {
	border-top-color: #ddd;
}

.message.selected {
    background-color orange
}


header {
	position fixed
	left 0
	top top-banner-height
	width "calc(100% - %s)" % left-sidebar-width;
	height header-height
	background-color #898E91;
	border-bottom #7089a9;
	color:white;
	margin-left: left-sidebar-width
	margin-right: right-sidebar-width
    overflow-x: auto;

	#header-feed-links {
		display:flex;
		padding:0;
		margin:0;
		margin-top:-10px;
		color:white;
		margin-left:10px;
		li {
			list-style-type:none;
			padding:10px 10px 5px 10px;
			height:20px;
		}
		li.active {
			border-bottom:2px solid white;
		}


		a, i {
			color:white;
		}

		input {
			width:300px;
			margin-top:-5px;
		}
	}
}

header.article
	background-color: #C9932E

header.discussion
	background-color: #4E89DA

header.issue
	background-color: #3E9047

header.issue.bug
	background-color: #D04A4A

header.issue.enhancement
	background-color: #9A2DA9


footer
	z-index:11
	background-color: whitesmoke;
	border-top: 1px solid lightgray;
	position fixed
	left 0
	bottom 0
	width 100%
	height footer-height
	margin-left: left-sidebar-width

#login-buttons {
  z-index:2;
  position:absolute;
  top:10px;
  right:10px;
  .login-link-text {
	  color:white;
  }
}

#login-buttons #login-dropdown-list {
	left:auto;
	top:5px;
	right:10px;
}


fieldset, input, textarea
	margin 0
	padding 0
	border 0
	font-size 100%
	vertical-align baseline
	outline none

textarea
	min-height 70px

form
	padding 30px
	margin-bottom:10px

input, textarea
	border 1px solid lightgray
	border-radius 4px
	padding 5px
	width 100%

label
	display block

footer
	padding 10px

#messageBox
	border: 2px solid #d3d3d3;
	margin-top:5px;
	width calc(100% - 440px);
	resize none

.team-feed #header-main-title {
	margin-top: 5px;
	font-size: 1rem;
	text-transform:uppercase;
}

#header-main-title
	overflow: ellipsis;
	padding:10px
	font-size 2rem
	margin-left 10px

#header-new-messages-toast {
	margin: auto;
	position: absolute;
	left: 400px;
	bottom: 0;
	right: 0;
	display: block;
	bottom: 110px;
	width: 250px;
	text-align: center;
	background-color: #ff5b5b;
	padding: 5px 10px 5px 10px;
	color: #fff;
	border-radius: 10px;
	font-size: 1rem;
	text-decoration: none;
	z-index:99999;
}

#header-title-msg-count
	color: whitesmoke
	font-size:14px;

#loading-more
	margin-left:10px

#loading-more-icon
	color:gray;
	position:relative;
	top:5px;

.hide
	display:none

.team-feed-banner
	xdisplay:flex;
	display:none;
	xjustify-content: space-around;
	background-color:black;
	color:whitesmoke;
	padding-top:10px;

	.feed-box
		width:150px;
		height:80px;
		xborder: 1px solid white;
		padding-top:10px;
		xmargin-right:10px;

	.feed-box a
		color:white;

	.feed-box .title
		padding:5px;
		font-size: 1.0rem;
		text-align:center;
		text-transform: uppercase;

	.feed-box .stat
		text-align:center
		font-size: 2rem;
		padding:0;
		margin:0;

.team-feed .item-message {
	display:none;
}

.item-feed .item-message {

	margin-top:-30px
	border:none;
	box-shadow:none;
	border-bottom:1px solid lightgray;
	.title {
		display:none;
	}
	#item-desc, #item-desc p {
		font-size:18px;
	}
	#edit-link {
		display:inline;
		color:blue;
		cursor:pointer;
		text-decoration: underline;
	}
}

.item-message {
	border: 1px solid lightgray;
	box-shadow: 5px 5px 10px whitesmoke;
	padding: 20px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right: 10px;

	#type-icon {
 		color:#38A6BF;
	}

	#item-desc {
		margin-top:5px;
		p {
			font-size:16px;
		}
	}

	#edit-link {
		display:none;
	}
}

.message .title a
	text-decoration:none;
	color: black;

.meta
	color: meta-text-color;
	font-size: 12px;

	a
		color: meta-text-color;

.item-link {
	text-decoration: none;
}

.item-link:hover {
	text-decoration:underline;
}

#create-filter, #create-label {
	position:absolute;
	bottom:20px;
	right:10px;
	color:blue;
}

#header-open-status
	font-size:14px;
	display:inline;
	padding-left:20px;

	strong {
		padding:5px;
		border-radius:5px;
		color:white;
	}

	strong.closed {
		background-color:red;
	}

	strong.open {
		background-color:green;
	}

#header-labels {
	margin-left:20px;
	margin-top:-5px;
	margin-bottom:10px;
}

#labels-list {
	padding:0;
}

#item-labels .label-item {
	font-size:11px;
	padding:1px 4px 1px 4px;
}

.label-item {
	color:white;
	background-color:gray;
	padding:2px 5px 2px 5px;
	border-radius:4px;
}

.black-underline {
	border-bottom:2px solid black;
	color:white;
	cursor:pointer;
}


.menu-item {
	list-style-type:none;
	margin:0;
	padding:10px;
	cursor:pointer;
}

.menu-item:hover {
	background:lightgray;
}

.menu-item-header {
	background:#333E44;
	text-transform:uppercase;
	color:white;
	padding:10px 5px 10px 5px;
	text-align:center;
}

#board-chooser-menu {
	min-width: 200px;
border: 1px solid #455A64;
margin: 0;
padding: 0;
z-index: 99999999;
position: absolute;
top: 145px;
left: 150px;
background: #f5f5f5;
box-shadow: 5px 5px 20px #504C4C;
}

#move-to-board-list {
	min-width:200px;
	border:1px solid #455A64;
	margin:0;
	padding:0;
	z-index: 99999999;
	position: absolute;
	top: 150px;
	right: 10px;
	background: #f5f5f5;
	box-shadow: 5px 5px 20px #504C4C;
}

.label-list-item {
	list-style-type:none;
	padding:10px;
	#label-list-item-header {
		display:flex;
		justify-content: space-between;

		.label-tag {
			padding:5px;
			border-radius:5px;
			color:white;
		}

		.label-counts {
			font-size:12px;
			position:relative;
			top:5px;

			i {
				font-size:1.2em;
			}
		}
	}
}

.search-input {
	font-size: 14px;
	margin-left: 20px;
	width: calc(100% - 42px);
	height: 35px;
	margin-top: 10px;
	margin-left: 5px;
	background-color: #61737b;
	border: none;
	color: white;
}

::-webkit-input-placeholder {
   color: lightgray;
}

:-moz-placeholder { /* Firefox 18- */
   color: lightgray;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lightgray;
}

:-ms-input-placeholder {
   color: lightgray;
}

#label-link {
	text-decoration:none;
	overflow: ellipsis;
	max-width:180px;
	font-size:12px;
}

.main.item-feed.readTab .right-sidebar {
	display:none;
}

.main.item-feed.readTab header {
	background-color: white;

	#header-main-title {
		width:800px;
		margin:auto auto;
		padding-left:50px;
		margin-top:50px;
		color:black;
		font-size:35px;
	}

	#header-status-bar, #header-labels {
		display:none;
	}
}


.tab-body {
	height:100%;
}

#login-form, #signup-form {
	width:800px;
	margin:auto auto;
	margin-top:50px;
	background: whitesmoke;
	border-radius:10px;
}



::-webkit-scrollbar {
    width: 4px;
	height:4px;
}

::-webkit-scrollbar-track {
    background:white;
}

::-webkit-scrollbar-thumb {
    background:lightgray;
}

.error-message {
	color:red;
}

.user-cards {
	display:flex;
	margin:0;
	padding:0;
	margin-top:10px;
	margin-left:10px;

}

.user-card {
	min-height: 80px;
	min-width:180px;
	background-color:#455A64;
	margin-right:10px;

	img {
		 width:50px;
		 height:50px;
	}

	.content {
		padding-left:5px;
	}

	.online-status-dot {
		display:inline-block;
		width:10px
		height:10px;
		border-radius:5px;
		background-color:white;
	}

	.online-status {
		color:gray;
		font-size:12px;
	}

	.online-status-dot.online {
		background-color:green;
	}

	.online-status-dot.offline {
		background-color:#F75429;
	}

	.meta {
		padding:0;
		display:block;
	}

	.top-section {
		display:flex;
	}

	.heading {
		color:lightgray;
		text-transform:uppercase;
		overflow:ellipsis;
		font-size:12px;
	}

	.bottom-section {
		background:#61737B;
		.meta {
			padding:10px;
			color:#DADADA;
			overflow:ellipsis;

		}
	}
}

.form {
	overflow-y:auto;
}


.label-buttons {
	margin:0;
	padding:10px;
}

.label-item {
	padding:5px;
}

.empty-item-msg {
	padding-left:30px;
}


.alert.message {
	width: 800px;
    margin: auto auto;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    color: #656565;
	text-align:center;
}

#connection-status {
	position: absolute;
	left: 22px;
	top: 30px;
	width: 2px;
	height: 2px;
	padding: 2px;
	border-radius: 20px;
}

#connection-status.connecting {
	background-color: white;
}

#connection-status.connected {
	background-color: green;
}
#connection-status.failed {
	background-color: red;
}

#connection-status.waiting {
	background-color: orange;
}

.activity-message {

	.meta {
		color: #aaa;
	}

	#text, #text a {
		color: #B5B5B5;
		font-size:14px;
		font-style:italic;

	}
}

.tab-body {
	height:100%;
	display:none;


}

.tab-body.active {
	display:block;
}

.item-tab-bar-wrapper {
	display:inline-block;
	.item-tab-bar {
		display:flex;
		padding:10px;

		.tab-item {
			font-size:14px;
			text-transform:uppercase;
			margin-right:30px;
			cursor:pointer;
			padding:3px;

			a {
				text-decoration:none;
				color:white;
			}
		}

		.tab-item:hover, .tab-item.active {
			border-bottom: 2px solid white;
		}
	}
}

.current-item-description, .current-item-todos, .current-item-activity {
	position:relative;
	top: header-height;
    padding: 10px 20px 10px 20px;
	text-align:justify;
	height:100%;
	overflow-y:auto;
	p {
		font-size: 18px;
		color:#656565
	}
}


.board-link {
	text-decoration: underline;
}

.item-key {
	text-transform:uppercase;
}

.activity.content {
	font-style:initial;
}

#top-header {
	display:flex;
	width: 60%;
	position: relative;
	top: -5px;
	left: 50px;

	#top-header-tabs {
		display:flex;
		margin-left:10px;
		margin-top:10px;

		.tab-item {
			color: #4A4949;
			font-size:18px;
			display:block;
			padding:10px
			color:gray;
			text-decoration:none;
		}

		.tab-item.active {
			color:black;
		}
	}

	#top-header-title {
		font-size:18px;
		display:block;
		padding:20px
		color:black;
	}

	#create-link {
		cursor:pointer;
		padding: 5px;
		background-color: #3B454A;
		color: #fff;
		width: 30px;
		text-align: center;
		vertical-align: center;
		height: 35px;
		margin: 10px;
		border-radius: 5px;

		i {
			margin-top:10px;
		}
	}

	#search-link {
		background-color: gray;
		color:white;
		text-align:center;
		vertical-align:center;
		border-radius:5px;
		width:20px;
		height:20px;
		margin-top:25px;
		margin-left:-30px;
	}


}

.form-title {
	margin-left: 50px;
	margin-top: 0px;
	font-size: 32px;
}

.form {
	height 100%
	padding: 50px;
	padding-top:0px;
	background-color: #455a64;
}

.form input, .form textarea, .form select {
	background-color: #61737b;
	border: none;
	color:white;
	padding:20px;
	font-size:18px;
}

 .form button {
	 background-color: #61737b;
	 color:white;
	 font-weight:bold;
	 border:2px solid  #485053;
	 margin-top:30px;
	 padding:10px;
 }

 .form button:hover {
	background-color: black;
	cursor:pointer;
 }

 .form button.button-default {
	 border:2px solid #252C2F;
 }


.form label {
	margin-top:30px;
	color:gray;
	text-transform:uppercase;
}

.filter-item {
	margin-right:20px;
	list-style-type:none;
	a {
		font-size:14px;
		color:#898E91;
		text-decoration:none;
		text-transform:uppercase;
	}
}

.filter-item:hover, .filter-item.active {
	a {
		color:white;
	}
}
