@import 'jeet'
@import 'nib'
@import 'variables.import'


* {
 	font-family font-main
}

html
	overflow hidden
	padding 0
	margin 0
	height: 100%;
	width: 100%;

body
	overflow hidden
	padding 0
	margin 0
	height 100% !important
	width 100% !important

html:not(.touch) {
	text-rendering: optimizeLegibility;
}

#messageHistory {
	padding:0;
	margin:0;
	background-color: white;
    top: 0;
    position: relative;
	overflow-y: auto;
	padding-left:10px;
	padding-right:10px;
	height: calc(100% - 80px);
}

#app #top-banner {
	height:top-banner-height;
	background-color: #952A16;

	#main-title {
		a {
			font-size:20px;
			color:white;
			font-weight:bold;
			text-decoration:none;
			position:relative;
			top:5px;
		}

		padding-top:2px;
		padding-left:10px;

		.project-title {
			font-size:18px;
			color:white;
			text-transform: uppercase;
			position:relative;
			left:0px;
			top:-5px;

		}

		.project-key {
			position: relative;
			top: -1px;
			font-size: 12px;
			color: #aaa;
			text-transform: uppercase;
		}
	}

	.left {
		color: white;
		display:flex;
	}

	.right {
		color: white;
    	margin-top: -20px;
    	margin-right: 410px;
		display:flex;
		float:right;
	}
}

#app {
	height: 100%;
	.right-sidebar {
		transition: all 0.5s ease;
		height: 100%;
		top: 0px;
		right: 0;
		bottom: footer-height + 42px;
		position: fixed;
		display: block;
		width: 400px;
		color: black;
		background-color: white;
		z-index:10;
    border-right: 1px solid black;
    box-shadow: 0 6px 8px black;
  }

	.left-sidebar {
		transition: all 0.5s ease;
		height: 100%;
		top 0px;
		left 0
		bottom 0
		position fixed
		display block
		width left-sidebar-width
		color gray
		background-color white
		z-index:999
		border-right: 1px solid black;
		box-shadow: 0 6px 6px black;

		#active-list {
			cursor:pointer;
			padding-left:10px;
			font-size:16px;
		}

		#list-menu {
			margin:0;
			padding:0;
			background: whitesmoke;

			li {
				margin:0;
				list-style-type:none;
				padding:20px;
				a {
					font-size:1
				}
			}

			li:hover {
				background:lightgray;
			}
		}

	}
	.main {
		position:relative;
		top:0;
		transition: all 0.5s ease;
		height 100%
		padding-left left-sidebar-width
		padding-right right-sidebar-width
		padding-bottom footer-height
	}
}

.item-list, .now-list {
	margin:0
	padding: 5px;
	list-style: none
	overflow: auto;
	height: calc(100% - 86px);
}

#app .left-sidebar #board-item {
	cursor:pointer;
	height:60px;



	.item-msg-count {
		top: 20px;
		right: 8px;
	}

	#content {

		overflow:ellipsis;
		font-size: 14px;
		color: #656565;
		font-weight: 600;
		position: relative;
		padding-left: 3px;
		top: 8px;
	}

}

#app a.item {
	text-decoration: none;
}


#app .item.closed #content #title {
	text-decoration: line-through;
}

#app .item {
  border: 1px solid white;
	position:relative;
	display: block;
	padding:10px;
	padding-bottom:20px;

	#type-icon {
		margin-right: 2px;
		color: #ccc;
	}

	.item-msg-count {
		background:#FF4100;
		border-radius:20px;
		text-align:center;
		min-width:10px;
		padding:3px 5px 3px 5px;
		color:white;
		position:absolute;
		top:15px;
		right:10px;
		font-size:10px;
		display:none;

		i {
			font-size:1.2em;
		}
	}

	.item-msg-count.new-messages {
		color:white;
		font-weight:bold;
		display:block;
	}

	#content {
		padding-left:2px;
		padding-right:5px;
  }

	#title {
		font-size:14px;
		color: #656565;
		font-weight: 600;
		text-decoration:none;
  }
	#meta {
		font-size: 12px;
		color:gray;
		xoverflow: ellipsis;
  }
}

#app .item:hover {
	background-color:#F0F0F0;
  border: 1px solid #5CB5CB;
}

#app .item.active {
  border: 1px solid #5CB5CB;
}

#show-more-link {
	font-size: 0.7rem;
    margin-left: 10px;
}

.message {
	list-style-type none;
  margin-bottom: 20px;

	.header-item {
		font-size:12px;
		color:#C5C4C4;


		a {
			color:#C5C4C4;
		}
	}

	strong.header-item {
		color:black;
	}


	.profile-image {
		width:16px;
		height:16px;
		margin-top:5px;
		float:left;
		border-radius:30px;
	}

	.content {
		padding-left:25px;
		color: #000000;
		font-size: 15px;
	}
}

.markdown-content {
	code {
		background-color: whitesmoke;
		font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	}

	blockquote {
		border-left: 2px solid gray;
		padding: 10px;
		padding-left: 20px;
		margin: 0;
		font-size: 18px;
		color: gray;
		font-style: italic;
	}

	h1 {
		font-size:20px;
		color:orange;
	}

	h2 {
		font-size:18px;
		color:orange;
	}

	h3 {
		font-size:16px;
		color:orange;
	}
}

.board-title {
	color:#2CA1D6 !important;
	cursor:pointer !important;
	font-size:12px !important;
}

.message .board-title:hover {
	text-decoration:underline;
}

.message p:first-child {
	margin-top:0;
	margin-bottom:5px;
}

.message.new-day:before {
	content: attr(data-date);
	display: block;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	z-index: 10;
	padding: 10px;
	background-color: whitesmoke;
	xborder-top: 1px solid black;
	xborder-bottom: 1px solid black;
	border: 1px solid lightgray;
	margin-bottom: 30px;
	margin-top: 30px;
}

.message.new-day:after {
	border-top-color: #ddd;
}

.message.selected {
    background-color orange
}


header {
	position fixed
	left 0
	top top-banner-height
	width "calc(100% - %s)" % left-sidebar-width;
	height header-height
	background-color #61737B;
	border-bottom #7089a9;
	color:white;
	margin-left: left-sidebar-width
	margin-right: right-sidebar-width
    overflow-x: auto;

	#header-feed-links {
		display:flex;
		padding:0;
		margin:0;
		margin-top:-10px;
		color:white;
		margin-left:10px;
		li {
			list-style-type:none;
			padding:10px 10px 5px 10px;
			height:20px;
		}
		li.active {
			border-bottom:2px solid white;
		}


		a, i {
			color:white;
		}

		input {
			width:300px;
			margin-top:-5px;
		}
	}
}

header.article
	background-color: #C9932E

header.discussion
	background-color: #4E89DA

header.issue
	background-color: #3E9047

header.issue.bug
	background-color: #D04A4A

header.issue.enhancement
	background-color: #9A2DA9


footer
	z-index:11
	background-color: whitesmoke;
	border-top: 1px solid lightgray;
	position fixed
	left 0
	bottom 0
	width 100%
	height footer-height
	margin-left: left-sidebar-width

#login-buttons {
  z-index:2;
  position:absolute;
  top:10px;
  right:10px;
  .login-link-text {
	  color:white;
  }
}

#login-buttons #login-dropdown-list {
	left:auto;
	top:5px;
	right:10px;
}


fieldset, input, textarea
	margin 0
	padding 0
	border 0
	font-size 100%
	vertical-align baseline
	outline none

textarea
	min-height 70px

form
	padding 30px
	margin-bottom:10px

input[type='text'], textarea
	border 1px solid lightgray
	border-radius 4px
	padding 5px
	width 100%

label
	display block

footer
	padding 10px

#messageBox {
	border: 2px solid #d3d3d3;
	margin-top:5px;
	width: calc(100% - 10px);
	resize: none;
	min-height: 60px;
}

.team-feed #header-main-title {
	margin-top: 5px;
	font-size: 1rem;
	text-transform:uppercase;
}

#header-main-title {
	overflow: ellipsis;
	padding:5px
	font-size 1.2rem
	font-weight:bold;
	margin-left 10px

	.item-key {
		color: black;
		font-size: 12px;
	}
}

#header-new-messages-toast {
	margin: auto;
	position: absolute;
	left: 0px;
	right: 0;
	display: block;
	bottom: 70px;
	width: 250px;
	text-align: center;
	background-color: #ff5b5b;
	padding: 5px 10px 5px 10px;
	color: #fff;
	border-radius: 10px;
	font-size: 1rem;
	text-decoration: none;
	z-index:99999;
}

#header-title-msg-count
	color: whitesmoke
	font-size:14px;

#loading-more
	margin-left:10px

#loading-more-icon
	color:gray;
	position:relative;
	top:5px;

.hide
	display:none

.team-feed-banner
	xdisplay:flex;
	display:none;
	xjustify-content: space-around;
	background-color:black;
	color:whitesmoke;
	padding-top:10px;

	.feed-box
		width:150px;
		height:80px;
		xborder: 1px solid white;
		padding-top:10px;
		xmargin-right:10px;

	.feed-box a
		color:white;

	.feed-box .title
		padding:5px;
		font-size: 1.0rem;
		text-align:center;
		text-transform: uppercase;

	.feed-box .stat
		text-align:center
		font-size: 2rem;
		padding:0;
		margin:0;

.team-feed .item-message {
	display:none;
}

.item-feed .item-message {

	margin-top:-30px
	border:none;
	box-shadow:none;
	border-bottom:1px solid lightgray;
	.title {
		display:none;
	}
	#item-desc, #item-desc p {
		font-size:18px;
	}
	#edit-link {
		display:inline;
		color:blue;
		cursor:pointer;
		text-decoration: underline;
	}
}

.item-message {
	border: 1px solid lightgray;
	box-shadow: 5px 5px 10px whitesmoke;
	padding: 20px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right: 10px;

	#type-icon {
 		color:#38A6BF;
	}

	#item-desc {
		margin-top:5px;
		p {
			font-size:16px;
		}
	}

	#edit-link {
		display:none;
	}
}

.message .title a
	text-decoration:none;
	color: black;

.meta
	color: meta-text-color;
	font-size: 12px;

	a
		color: meta-text-color;

.item-link {
	text-decoration: none;
}

.item-link:hover {
	text-decoration:underline;
}

#create-filter, #create-label {
	position:absolute;
	bottom:20px;
	right:10px;
	color:blue;
}

#header-open-status
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top:10px;
	margin-bottom:10px;
	display: block;
	height: 30px;
	width: 100%;

	strong {
		border: 2px solid black;
		padding: 5px;
		border-radius: 5px;
		color: #fff;
		width: 170px;
		display: block;
		text-align: center;
	}

	strong.closed {
		background-color:red;
	}

	strong.open {
		background-color:green;
	}

#header-labels {
	margin-left:20px;
	margin-top:-5px;
	margin-bottom:10px;
}

#labels-list {
	margin:0;
	padding:0;
}

#item-labels .label-item {
	font-size:11px;
	padding:1px 4px 1px 4px;
}

.label-item {
	color:white;
	background-color:gray;
	padding:2px 5px 2px 5px;
	border-radius:4px;
	margin-bottom:10px;
}

.black-underline {
	border-bottom:2px solid black;
	color:white;
	cursor:pointer;
}


.menu-item {
	list-style-type:none;
	margin:0;
	padding:10px;
	cursor:pointer;
}

.menu-item:hover {
	background:lightgray;
}

.menu-item-header {
	background:#333E44;
	text-transform:uppercase;
	color:white;
	padding:10px 5px 10px 5px;
	text-align:center;
}

#label-chooser-menu {
	min-width: 200px;
	border: 1px solid #455A64;
	margin: 0;
	padding: 0;
	z-index: 99999999;
	position: relative;
	right: 10px;
	background: #f5f5f5;
	box-shadow: 5px 5px 20px #504C4C;
}

#board-chooser-menu {
	min-width: 200px;
	border: 1px solid #455A64;
	margin: 0;
	padding: 0;
	z-index: 99999999;
	position: absolute;
	top: 55px;
	left: 50px;
	background: #f5f5f5;
	box-shadow: 5px 5px 20px #504C4C;
}

#move-to-board-list {
	min-width:200px;
	border:1px solid #455A64;
	margin:0;
	padding:0;
	z-index: 99999999;
	position: absolute;
	top: 150px;
	right: 10px;
	background: #f5f5f5;
	box-shadow: 5px 5px 20px #504C4C;
}

.label-list-item {
	list-style-type:none;
	padding:10px;
	#label-list-item-header {
		display:flex;
		justify-content: space-between;

		.label-tag {
			padding:5px;
			border-radius:5px;
			color:black;
			font-size: 16px;
		}

		.label-counts {
			font-size:12px;
			position:relative;
			top:5px;

			i {
				font-size:1.2em;
			}
		}
	}
}

.search-input {
	font-size: 14px;
	margin-left: 20px;
	width: calc(100% - 42px);
	height: 35px;
	margin-top: 10px;
	margin-left: 5px;
	background-color: #61737b;
	border: none;
	color: white;
	border-radius:5px;
	padding:5px;
}

::-webkit-input-placeholder {
   color: lightgray;
}

:-moz-placeholder { /* Firefox 18- */
   color: lightgray;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lightgray;
}

:-ms-input-placeholder {
   color: lightgray;
}

#label-link {
	text-decoration:none;
	overflow: ellipsis;
	max-width:180px;
	font-size:12px;
}

.main.item-feed.readTab .right-sidebar {
	display:none;
}

.main.item-feed.readTab header {
	background-color: white;

	#header-main-title {
		width:800px;
		margin:auto auto;
		padding-left:50px;
		margin-top:50px;
		color:black;
		font-size:35px;
	}

	#header-status-bar, #header-labels {
		display:none;
	}
}


.tab-body {
	height:100%;
}

#login-form, #signup-form {
	width:800px;
	margin:auto auto;
	margin-top:50px;
	background: whitesmoke;
	border-radius:10px;
}



::-webkit-scrollbar {
  width: 4px;
	height:4px;
}

::-webkit-scrollbar-track {
    background:lightgray;
}

::-webkit-scrollbar-thumb {
    background:gray;
}

.error-message {
	color:red;
}

.user-cards {
	display:flex;
	margin:0;
	padding:0;
	margin-top:7px;
	margin-left:7px;

}

.user-card {
	padding:10px;

	img {
		 width:40px;
		 height:40px;
		 border-radius: 40px;
    	margin-right: 20px;
	}

	.content {
		padding-left:5px;
	}

	.online-status-dot {
		display:inline-block;
		width:10px
		height:10px;
		border-radius:5px;
		background-color:white;
	}

	.online-status {
		color:#555;
		font-size:14px;
	}

	.online-status-dot.online {
		background-color:green;
	}

	.online-status-dot.offline {
		background-color:#F75429;
	}

	.meta {
		padding:0;
		display:block;
	}

	.top-section {
		display:flex;
	}

	.heading {
		color:black;
		text-transform:uppercase;
		overflow:ellipsis;
		font-size:12px;
		font-weight:bold;
	}

	.bottom-section {
		background:#61737B;
		.meta {
			padding:5px;
			color:#DADADA;
			overflow:ellipsis;

		}
	}
}

.form {
	overflow-y:auto;
}


.label-buttons {
	margin:0;
	padding:10px;
}

.label-item {
	padding:5px;
}

.empty-item-msg {
	padding-left:30px;
}


.alert.message {
	width: 800px;
    margin: auto auto;
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 300;
    color: #656565;
	text-align:center;
}

#connection-status {
	position: absolute;
	left: 10px;
	top: 9px;
	width: 2px;
	height: 2px;
	padding: 2px;
	border-radius: 20px;
}

#connection-status.connecting {
	background-color: gray;
}

#connection-status.connected {
  display:none;
}
#connection-status.failed {
	background-color: red;
}

#connection-status.waiting {
	background-color: orange;
}

.activity-message {

	.meta {
		color: #aaa;
	}

	#text, #text a {
		color: #B5B5B5;
		font-size:14px;
		xfont-style:italic;

	}
}

.tab-body {
	height:100%;
	display:none;


}

.tab-body.active {
	display:block;
}

.item-tab-bar-wrapper {
	display:inline-block;
	.item-tab-bar {
		display:flex;
		padding:0px;
		padding-top:5px;
		margin-left: 15px;

		.tab-item {
			font-size:12px;
			text-transform:uppercase;
			margin-right:30px;
			cursor:pointer;
			padding:3px;

			a {
				text-decoration:none;
				color:white;
			}
		}

		.tab-item:hover, .tab-item.active {
			border-bottom: 2px solid white;
		}
	}
}

.current-item-description, .current-item-todos, .current-item-activity {
	position:relative;
	top: header-height;
    padding: 10px 20px 10px 20px;
	text-align:justify;
	height:100%;
	overflow-y:auto;
	p {
		font-size: 18px;
		color:#656565
	}
}


.board-link {
	text-decoration: underline;
}

.activity.content {
	font-style:initial;
}

#top-header {
	display:flex;
	width: 60%;
	position: relative;
	top: -5px;
	left: 60px;

	#top-header-tabs {
		display:flex;
		margin-left:10px;
		margin-top:10px;

		.tab-item {
			color: #4A4949;
			font-size:18px;
			display:block;
			padding:10px
			color:gray;
			text-decoration:none;
		}

		.tab-item.active {
			color:black;
		}
	}

	#top-header-title {
		font-size:18px;
		display:block;
		padding:20px
		color:black;
	}

	#explore-link {
		cursor:pointer;
		padding: 5px;
		background-color: #3B454A;
		color: #fff;
		width: 30px;
		text-align: center;
		vertical-align: center;
		height: 35px;
		margin: 10px;
		border-radius: 5px;

		i {
			font-size: 2em;
			margin-top: 3px;
		}
	}

	#explore-link.active {
		background-color: orange;
	}

	#create-link {
		cursor:pointer;
		padding: 5px;
		background-color: #3B454A;
		color: #fff;
		width: 30px;
		text-align: center;
		vertical-align: center;
		height: 35px;
		margin: 10px;
		border-radius: 5px;

		i {
			margin-top:10px;
		}
	}

	#search-link {
		background-color: gray;
		color:white;
		text-align:center;
		vertical-align:center;
		border-radius:5px;
		width:20px;
		height:20px;
		margin-top:25px;
		margin-left:-30px;
	}


}

.form-title {
	margin-left: 50px;
	margin-top: 0px;
	font-size: 32px;
}

.form {
	height 100%
	padding: 50px;
	padding-top:0px;
	background-color: #455a64;
}

.form input, .form textarea, .form select {
	background-color: #61737b;
	border: none;
	color:white;
	padding:20px;
	font-size:18px;
}

 .form button {
	 background-color: #61737b;
	 color:white;
	 font-weight:bold;
	 border:2px solid  #485053;
	 margin-top:30px;
	 padding:10px;
 }

 .form button:hover {
	background-color: black;
	cursor:pointer;
 }

 .form button.button-default {
	 border:2px solid #252C2F;
 }


.form label {
	margin-top:30px;
	color:gray;
	text-transform:uppercase;
}

.filter-item {
	margin-right:20px;
	list-style-type:none;
	a {
		font-size:14px;
		color:#898E91;
		text-decoration:none;
		text-transform:uppercase;
	}
}

.filter-item:hover, .filter-item.active {
	a {
		color:white;
	}
}


.user-card .meta .working-on-link {
	cursor:pointer;
	color:white;
	text-decoration:underline;
}

.user-card .online-status-typing {
	color:orange;
	font-weight:bold;
}

.user-card .online-status-text {
	display:inline;
}

.user-card.user-typing .online-status-text {
	display:none;
}

.user-card .online-status-typing {
	display:none;
}

.user-card.user-typing .online-status-typing {
	display:inline;
}

#full-screen-link {
	position: absolute;
	bottom: 0px;
	font-size: 0.8em;
	color: gray;
}

.tab-body {
	display:none
}

.tab-body.tab-active {
	display:block;
}

.tabs-header {
	display:flex;
	cursor:pointer;
  background-color:#952A16;
	border-bottom: 1px solid lightgray;
	padding:10px 5px 10px 5px;
  height:75px;

	i {
		display: block;
		text-align: center;
		font-size: 2em;
	}

	a {
		margin-right: 10px;
		margin-left: 10px;
	}
}

.filter-sentence-wrapper {
	margin-left:5px;
	padding: 5px;
	font-size: 12px;
	color: #8F8F8F;
	border-bottom: 1px solid lightgray;
}

.tabs-header .tab {
	padding-right:5px;
  padding-top:5px;
	font-size:12px;
  color:#E18989;
}

.tabs-header .tab :hover {
  color:white;

}

.tabs-header a:hover {
  text-decoration:none;
}

.tabs-header .tab-active {
	color:white;
}


#labels-list li {
	list-style-type: none;
}

#filter-list {
	padding:0;
	margin:0;
}

#filter-list li {
	list-style-type: none;

}


.item-links {
	margin-left:50px;
}

.item-links a {
	font-size:12px;
	color:gray;
}

#app .left-sidebar .item.label #title:hover {
	cursor:pointer;
	color:blue;
}

.assignee-item {
	width: 15px;position: relative;top: 3px;border-radius: 15px;
}

.app-breadcrumb {
font-size: 14px;
color: white;
margin-right: 70px;
margin-left: 10px;
position: relative;
top: 2px;
text-transform: uppercase;
}

.project-breadcrumb:hover, breadcrumb-item.active {
	cursor:pointer;
	color:orange;
}

#logged-in-user :hover {
	cursor:pointer;
	text-decoration:underline;
}

#checklist-wrapper, #reflist-wrapper {
  top: 10px;
  height: 100%;
  overflow-y: auto;

}

#checklist-input {
margin-left: 10px;
margin-right: 60px;
display: flex;
width: 90%;
border: none;
border-bottom: 1px solid gray;
border-radius: 0;
}

.checkitem-list {
	margin:0;
	padding:0;
	padding-left:10px;
	padding-right:10px;
}


.check-item.status-closed .text {
	text-decoration: line-through;
}


.check-item:hover, .check-item.edit-mode, .ref-item:hover {
	cursor:pointer;
	background-color: whitesmoke;
}

.check-item .text, .ref-item .text {
	flex-grow:2;
}

.check-item .text p, .ref-item .text p {
	margin:0;
}

.checklist-header {
	margin-left: 10px;
	text-transform: uppercase;
	color: gray;
	font-size: 12px;
}

.checkitem-list .empty-text {
	padding-left: 30px;
	font-style: italic;
	color: lightgray;
}

.check-item-input {
	width:100%;
	padding-left: 10px;
    background-color: whitesmoke;
}


.action-buttons {
	margin:0;
	padding:10px;
}
.action-button {
	font-size:14px;
	list-style-type:none;
	margin:0;
	padding:0;
	background: -webkit-linear-gradient(top,#fff 0,#f8f9f9 100%);
	background: linear-gradient(to bottom,#fff 0,#f8f9f9 100%);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e2e4e6;
	border-bottom-color: #cdd2d4;
	cursor: pointer;
	display: block;
	font-weight: 700;
	height: 34px;
	margin-top: 6px;
	max-width: 300px;
	overflow: hidden;
	padding: 7px;
	position: relative;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	border-radius:5px;

	a {
		display:block;
		width:100%;
		height:100%;
		text-decoration:none;
		color: #6C6C6C;
	}

	i {
		color:gray;
	}
}

.action-button:active, .action-button:hover {
	background: #0079bf;
	border-color: #0079bf #0079bf #055a8c;
	color: white;
	a {
		color:white;
	}
}

.action-button.active {
	background: gray;
	border-color: black;
	color: white;
	a {
		color:white;
	}

	i {
		color:white;
	}
}


.form textarea, .form input {
	width:100%;
}

.now-list .empty-msg {
	width:200px;
}


.item-list .empty-msg {
	width:300px;
}

.empty-msg {
	padding: 30px;
	background-color: #f5f5f5;
	border-radius: 10px;
	margin: auto auto;
	width: 200px;
	margin-top: 30px;
	text-align: center;
}


#active-item-msg {
	float:right;
}


.explore-page {
	position: absolute;
    top: top-banner-height + 10;
    height: 100%;
    width: calc(100% - 130px);
	margin:auto auto;
	padding-left: 100px;
	overflow-y:auto;

	h1,h2,h3 {
		margin-top:50px;
		font-weight:100;
		color: orange;
	}
}

#box-list {
	display:flex;
	width:100%;
	overflow-x:auto;
	margin:0;
	padding:0;
	padding-top:10px;
	padding-bottom:10px;

}

.box-item {
	list-style-type:none;
	width:250px;
	min-width: 250px;
	background-color:whitesmoke;
	vertical-align:middle;
	margin-right:20px;
	padding:10px;

	.top {

		a {
			font-weight:bold;
			color:#8F8F8F;
			text-decoration:none;
		}
	}

	.bottom {
		font-size:12px;
		color:gray;
	}
}

.box-item:hover {
	background-color: lightgray;
}

.board-star-icon {
	cursor:pointer;
	float:right;
}

.board-star-icon.favourite {
	color:#F8C618;
}


.member-list {
	padding:0;
	margin:0;
}

.user-typing-footer-msg {
	margin: 0;
    padding: 0;
    font-size: 12px;
}

.header-text {
	padding-left:10px;
	font-weight:bold;
	color:gray;
	font-size:14px;
}
