<template name="filterTab">
  <div class="filter-tab" style="padding:30px">
    <div class="dropdown-wrapper">
      <span class="ols-label">Project</span>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{currentProjectTitle}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          {{#each projects}}
          {{> projectMenuItem}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="dropdown-wrapper">
      <span class="ols-label">Milestone</span>
      <div>
        <input class="milestone-tag-filter" placeholder="Type milestone tag here and hit ENTER to apply" style="padding:5px;border-radius:5px;width:100%;border:1px solid lightgray"/>
      </div>
    </div>
    <div class="dropdown-wrapper">
      <span class="ols-label">Type</span>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          All
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Tasks</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Bugs</a></li>
          <li><a href="#">Discussions</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">All</a></li>
        </ul>
      </div>
    </div>
    <div class="dropdown-wrapper">
      <span class="ols-label">Status</span>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          All
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">New</a></li>
          <li><a href="#">In Progress</a></li>
          <li><a href="#">Blocked</a></li>
          <li><a href="#">In Test</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">All</a></li>
        </ul>
      </div>
    </div>

    <div class="dropdown-wrapper">
      <span class="ols-label">Estimate</span>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          All
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Open - New</a></li>
          <li><a href="#">Open - In Progress</a></li>
          <li><a href="#">Open - Blocked</a></li>
          <li><a href="#">Open - In Test</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Closed - Completed</a></li>
          <li><a href="#">Closed - Rejected</a></li>
          <li><a href="#">Closed - Duplicate</a></li>
          <li><a href="#">Closed - Out of Scope</a></li>
        </ul>
      </div>
    </div>

  </div>
</template>

<template name="projectMenuItem">
  <li><a href="#">{{title}}</a></li>
</template>
