<template name="filterTab">
  <div class="filter-tab" style="padding:30px">

    <div class="dropdown-wrapper">
      <span class="ols-label">Milestone </span>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{milestoneTagLabel}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          {{#each milestones}}
          {{> filterTabMilestoneMenuItem}}
          {{/each}}
          <li role="separator" class="divider"></li>
          <li><a id="set-all-milestones" href="">All</a></li>
        </ul>
      </div>
    </div>
    <div class="dropdown-wrapper">
      <span class="ols-label">Type</span>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          All
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Tasks</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Bugs</a></li>
          <li><a href="#">Discussions</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">All</a></li>
        </ul>
      </div>
    </div>
    <div class="dropdown-wrapper">
      <span class="ols-label">Status</span>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{currentStatusFilter}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a id="set-status-new" href="#">Open - New</a></li>
          <li><a id="set-status-in-progress" href="#">Open - In Progress</a></li>
          <li><a id="set-status-blocked" href="#">Open - Blocked</a></li>
          <li><a id="set-status-in-test" href="#">Open - In Test</a></li>
          <li role="separator" class="divider"></li>
          <li><a id="set-status-completed" href="#">Closed - Completed</a></li>
          <li><a id="set-status-rejected" href="#">Closed - Rejected</a></li>
          <li><a id="set-status-duplicate" href="#">Closed - Duplicate</a></li>
          <li><a id="set-status-out-of-scope" href="#">Closed - Out of Scope</a></li>
          <li role="separator" class="divider"></li>
          <li><a id="set-all-statuses" href="#">All</a></li>
        </ul>
      </div>
    </div>

    <div class="dropdown-wrapper">
      <span class="ols-label">Estimate</span>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          All
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Low</a></li>
          <li><a href="#">Medium</a></li>
          <li><a href="#">High</a></li>
          <li><a href="#">Unknown</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">All</a></li>
        </ul>
      </div>
    </div>

  </div>
</template>

<template name="projectMenuItem">
  <li><a href="#">{{title}}</a></li>
</template>



<template name="filterTabMilestoneMenuItem">
  <li><a href="">{{title}}</a></li>
</template>
