<template name="cardDetailDialog">
  {{#with currentItem}}
  <div id="card-detail-dialog" class="modal fade" style="height:100%">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="height:100%">
        <div class="modal-header" style="display:flex;position:relative">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none;padding: 2px;margin-right: 5px;padding-left: 10px;">
              <i class="fa {{cardIconClass}} fa-3x" style="margin-right:10px"></i>
            </button>
            <ul class="dropdown-menu">
              <li id="set-type-task-button"><a href="#"><i class='fa fa-exclamation-circle'></i> Task</a></li>
              <li id="set-type-feature-button"><a href="#"><i class='fa fa-bullseye'></i> Feature</a></li>
              <li id="set-type-bug-button"><a href="#"><i class='fa fa-bug'></i> Bug</a></li>
              <li id="set-type-discussion-button"><a href="#"><i class='fa fa-comments-o'></i> Discussion</a></li>
            </ul>
          </div>
          <span style="position:absolute;top: 10px;color:gray;margin-right:10px;">
            #{{selectedCardKey}}
          </span>
          <div style="position:absolute;top: 10px;color:gray;margin-right:10px;right:0px">
            <div class="row" style="float:left;display:flex;margin:0;margin-top: 0px;">
              <div>
                <span style="display:inline;margin-left:10px;margin-right:10px;color:gray">LIST:</span>
                <span style="margin-right:10px;color:gray;font-weight:bold">{{{listLabel}}}</span>
              </div>
            </div>
            <div class="row" style="float:left;display:flex;margin:0;margin-top: 0px;">
              <div>
                <span style="display:inline;margin-left:10px;margin-right:10px;color:gray">PROJECT:</span>
                <span style="margin-right:10px;color:gray;font-weight:bold">{{projectTitle}}</span>
              </div>
            </div>
            <span style="margin-right:10px;color:gray">CREATED BY:</span>
            <span style="margin-right:10px;color:gray;font-weight:bold">{{createdBy}}</span>
          </div>
          <h4 tabindex="1" name="title" class="card-title modal-title" style="font-size: 28px;position: relative;top: 10px;">{{title}}</h4>
        </div>
        <div class="modal-body" style="padding:0;margin:0;height:100%">
          <div style="padding:10px;border-bottom:1px solid lightgray;">
            <div style="display:flex;justify-content:space-between">
              <div class="dropdown-wrapper">
              <span class="ols-label">Assign To: </span>
              <span class="card-to-field" tabindex="2" style="width: 200px;position: relative;top: 0px;" name="to">{{{assigneeLabel}}}</span>
              </div>
              <div class="dropdown-wrapper">
              <span class="ols-label">Milestone: </span>
              <span class="dropdown">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{milestoneTag}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  {{#each milestones}}
                    {{> cardDetailMilestoneMenuItem}}
                  {{/each}}
                  <li role="separator" class="divider"></li>
                  <li><a id="set-no-milestone" href="">No Milestone</a></li>
                </ul>
              </span>
              </div>
              <div class="dropdown-wrapper">
                <span class="ols-label">Status: </span>
                <span class="dropdown">
                  <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    New
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Open - New</a></li>
                    <li><a href="#">Open - In Progress</a></li>
                    <li><a href="#">Open - Blocked</a></li>
                    <li><a href="#">Open - In Test</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Closed - Completed</a></li>
                    <li><a href="#">Closed - Rejected</a></li>
                    <li><a href="#">Closed - Duplicate</a></li>
                    <li><a href="#">Closed - Out of Scope</a></li>
                  </ul>
                </span>
              </div>
              <div class="dropdown-wrapper">
                <span class="ols-label">Estimate: </span>
                <span class="dropdown">
                  <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    No Estimate
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Small</a></li>
                    <li><a href="#">Medium</a></li>
                    <li><a href="#">Large</a></li>
                    <li><a href="#">Unknown</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">No Estimate</a></li>
                  </ul>
                </span>
              </div>
              <div class="dropdown-wrapper">
                <button id="status-button" class="pull-right btn {{statusClass}} btn-xs">{{statusLabel}}</button>
              </div>
            </div>
          </div>
          <div class="card-detail-tabs" style="clear:both;padding:10px;height=100%">

            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active"><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab"><i class="fa fa-comments-o"></i> Discuss</a></li>
              <li role="presentation"><a href="#cards" aria-controls="cards" role="tab" data-toggle="tab"><i class="fa fa-check-square-o"></i> Breakdown</a></li>
            </ul>

            <div class="tab-content" style="height:100%;margin-top:5px">
              <div role="tabpanel" class="tab-pane fade in active" id="discussion"  style="height:100%">
                <div class="messages-component" style="height:500px">
                  {{> messageHistory selectedItemId=currentItemId}}
                </div>
                <div class="item-footer" style="position:absolute;bottom:0;width: calc(100% - 10px);">
                  <span class="user-typing-footer-msg">harold is typing...</span>
                  {{> messageBox currentItemId=currentItemId}}
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="cards">
                <div class="checklist-component" style="height:500px">
                  {{> checkList}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="users-viewing-card pull-left">
            {{#each viewingUsers}}
            <img style="border-radius:20px;border:2px solid green;width:30px" src="{{profileImage}}" title="{{username}} is viewing this card right now"/>
            {{/each}}
          </div>
          <button tabindex="6" id="close-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</template>

<template name="cardDetailMilestoneMenuItem">
  <li><a href="">{{title}}</a></li>
</template>
