.workspace-container {
	position: fixed;
    top: 75px;
    left: 400px;
	display:flex;
	width:calc(100% - 400px);
	overflow-x:auto;
	overflow-y:hidden;
	height: calc(100% - 75px);
	background:#B04632;
}

.queue-container {
	flex-shrink:0;
	flex-grow:0;
	width: 350px;
	height: calc(100% - 40px);
	margin: 10px;
	padding: 10px;
	transition: all 0.5s ease;
	background: #E2E4E6;
  overflow-y:auto;
}

.queue-header {
	height:30px;
}

.queue-list li {
	list-style-type:none;
}

.queue {
	height:calc(100% - 20px);
	overflow-y:auto;
}

.item {
	background:white;
	border-radius:4px;
	margin-bottom:10px;
}

.cursor-pointer :hover {
	cursor:pointer;
}


.item-header {
	padding: 10px;
	background: whitesmoke;
	font-size: 14px;
	font-weight: bold;
}
