
<template name="workspacePage">
  {{#onlyIfLoggedIn}}
  {{> topBanner}}
  {{> leftSidebar}}
  {{> workspace}}
  {{> rightSidebar}}
  {{> cardDetailDialog}}
  {{> newCardDialog}}
  {{/onlyIfLoggedIn}}
</template>

<template name="workspace">
  <div class="workspace-container">
    <span class="label label-success {{hideFilterLabel}}" style="position:absolute;top:10px;right:10px;padding:5px 10px"><i class="fa fa-filter"></i> Filter is active</span>
    {{#each queues}}
      {{>queue}}
    {{/each}}

    <!--<div class="dropdown-wrapper" style="padding:10px">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-plus"></i> Add List
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a id="add-backlog" href="#">Add Backlog</a></li>
          <li><a id="add-done-list" href="#">Add Done List</a></li>
          <li><a id="add-discussions-list" href="#">Add Discussions List</a></li>
          <li><a id="add-milestone-list" href="#">Add Milestone List</a></li>
          <li role="separator" class="divider"></li>
          <li><a id="add-user-queue" href="#">Add User Queue</a></li>
        </ul>
      </div>
    </div>-->

  </div>
</template>

<template name="queue">
  <div class="queue-container" style="position:relative;width:{{queueWidth}};height:{{queueHeight}}">
    <div class="queue-header">
      <div class="title" style="float:left;color:black;font-weight:bold;text-transform:uppercase;">
        {{title}}
      </div>
      <div class="buttons" style="float:right;color:gray">
        {{#if isUserQueue}}
        <btn id="switch-queue" class="btn btn-link btn-xs"><i class="fa {{queueSwitchIcon}}"></i> Show {{queueSwitchTitle}}{{{queueSwitchCount}}}</btn>
        {{/if}}
        {{#if isCardSelected}}
        <i id="back-button" class="cursor-pointer fa fa-arrow-left"></i>
        <i id="edit-button" title="Edit card details" class="cursor-pointer queue-header-button fa fa-pencil"></i>
        <i id="send-button" title="Send to another user" class="cursor-pointer queue-header-button fa fa-paper-plane"></i>
        <i id="send-to-backlog-button" title="Move to backlog" class="cursor-pointer queue-header-button fa fa-rocket"></i>
        <i id="done-button" title="Close Card" class="cursor-pointer queue-header-button fa fa-check-circle-o"></i>
        {{/if}}
        <i id="resize-width-button" class="cursor-pointer queue-header-button fa fa-arrow-circle-o-right"></i>
        <i id="resize-height-button" class="cursor-pointer queue-header-button fa fa-arrow-circle-o-up"></i>
      </div>
    </div>
    <ul class="queue-list sortable"  style="clear:both;margin:0;padding:0">
      {{#if noCards}}
        <p class="empty-msg">{{queueTitle}} is empty</p>
      {{else}}
      {{#sortable items=items options=itemsOptions}}
      {{> cardView}}
      {{/sortable}}
      {{/if}}

      <!--<button id="quick-add-card" class="btn btn-link" style="color:gray"><i class="fa fa-plus"></i> Add Card</button>-->
    </ul>
  </div>
</template>


<template name="cardView">
  <li  data-id={{_id}} >
    <a class="item {{isActive}} {{isClosedClass}}" href="">
      <div id="content">
        <div id="top-content">
          <span class="label" style="background-color:{{statusLabelColor}};position: absolute;top:-1px;right:-1px;">{{statusLabel}}</span>
          <a href="" id="title">
            <i id="type-icon" class="fa {{typeIcon}}" style="color:{{typeIconColor}}"></i>
            {{title}}
          </a>
          <div id="meta">
            <span class="item-key">#{{projectKey this}}-{{pid}} created {{timeAgo createdAt}}
            </span>
            <span class="estimate-box {{hideEstimateLabel}}">{{estimateLabel}}</span>
          </div>
          <div id="meta">
            <span class="milestone-tag {{hideMilestoneTagClass}}"><i class="fa fa-flag-o"></i> {{milestoneTag}}</span>
          </div>
        </div>
        {{#if inInbox}}
        <div class="actions {{showAcceptRejectIfCurrentUser}}" style="display:flex">
          <button id="accept-link" class="btn btn-link btn-xs" title="Accept card and move it to your work queue">
            <i class="fa fa-check" style="color:green"></i> Accept
          </button>
          <button id="reject-link" class="btn btn-link btn-xs" title="Reject card and move it into the backlog">
            <i class="fa fa-times" style="color:red"></i> Reject
          </button>
        </div>
        {{/if}}
        <!--<div id="item-labels">
        {{#each itemLabelIds}}
        <span class="label-item" data-color="{{labelColor this}}" style="background-color:{{labelColor this}}">{{labelTitle this}}</span>
        {{/each}}
      </div>-->
    </div>
    <div class="item-msg-count" data-msg-count="0">
    </div>
  </a>
</li>
</template>
