
<template name="workspacePage">
  {{#onlyIfLoggedIn}}
  {{> topBanner}}
  {{> leftSidebar}}
  {{> workspace}}
  {{> rightSidebar}}
  {{> cardDetailDialog}}
  {{> newCardDialog}}
  {{/onlyIfLoggedIn}}
</template>

<template name="workspace">
  <div class="workspace-container">

    {{#each queues}}
      {{>queue}}
    {{/each}}

  </div>
</template>

<template name="queue">
  <div class="queue-container" style="position:relative;width={{queueWidth}}">
    <div class="queue-header">
      <div class="title" style="float:left;color:black;font-weight:bold;text-transform:uppercase;">
        {{title}}'s {{queueTitle}}
      </div>
      <div class="buttons" style="float:right;color:gray">
        <btn id="switch-queue" class="btn btn-link btn-xs"><i class="fa {{queueSwitchIcon}}"></i> Show {{queueSwitchTitle}}</btn>
        {{#if isCardSelected}}
        <i id="back-button" class="cursor-pointer fa fa-arrow-left"></i>
        <i id="edit-button" title="Edit card details" class="cursor-pointer queue-header-button fa fa-pencil"></i>
        <i id="send-button" title="Send to another user" class="cursor-pointer queue-header-button fa fa-paper-plane"></i>
        <i id="send-to-backlog-button" title="Move to backlog" class="cursor-pointer queue-header-button fa fa-rocket"></i>
        <i id="done-button" title="Close Card" class="cursor-pointer queue-header-button fa fa-check-circle-o"></i>
        {{/if}}
        <i id="resize-button" class="cursor-pointer queue-header-button fa fa-arrow-circle-o-right"></i>
        <i id="remove-queue" title="Remove Queue" class="cursor-pointer queue-header-button fa fa-times"></i>
      </div>
    </div>
    {{#if isCardSelected}}
    <div class="item-detail" style="height: calc(100% - 30px);">
      <div class="item-header">
        <i style="color:{{selectedItemIconColor}}" class="fa {{selectedItemIcon}}"></i> {{selectedItemTitle}}
      </div>
      {{> messageHistory selectedItemId=selectedItemId}}
      <div class="item-footer" style="position:absolute;bottom:0;width: calc(100% - 10px);">
        {{> messageBox currentItemId=selectedItemId}}
      </div>
    </div>
    {{else}}
    <ul class="queue-list sortable"  style="clear:both;margin:0;padding:0">
      {{#sortable items=items options=itemsOptions}}
      <!--{{#each items}}-->
      {{> cardView}}
      {{/sortable}}
      <!--{{/each}}-->
      <!--<button id="quick-add-card" class="btn btn-link" style="color:gray"><i class="fa fa-plus"></i> Add Card</button>-->
    </ul>
    {{/if}}

  </div>
</template>


<template name="cardView">
  <li  data-id={{_id}} >
    <a class="item {{isActive}} {{isClosedClass}}" href="">
      <div id="content">
        <div id="top-content">
          <a href="" id="title">
            <i id="type-icon" class="fa {{typeIcon}}" style="color:{{typeIconColor}}"></i>
            {{title}}
          </a>
          <div id="meta">
            <span class="item-key">#{{projectKey this}}-{{pid}} created {{timeAgo createdAt}} {{order}}</span>
          </div>
        </div>
        {{#if inInbox}}
        <div class="actions" style="display:flex">
          <button id="accept-link" class="btn btn-link btn-xs"><i class="fa fa-check" style="color:green"></i> Accept</button>
          <button id="reject-link" class="btn btn-link btn-xs"><i class="fa fa-times" style="color:red"></i> Reject</button>
        </div>
        {{/if}}
        <!--<div id="item-labels">
        {{#each itemLabelIds}}
        <span class="label-item" data-color="{{labelColor this}}" style="background-color:{{labelColor this}}">{{labelTitle this}}</span>
        {{/each}}
      </div>-->
    </div>
    <div class="item-msg-count" data-msg-count="0">
    </div>
  </a>
</li>
</template>
