
/*

This one is for trello-style horizontal scroll

.workspace-container {
  position: fixed;
  top: 75px;
  left: 400px;
  right:400px;
  display:flex;

  overflow-x:auto;
  overflow-y:hidden;
  height: calc(100% - 70px);
  background:#B04632;
}*/

.workspace-container {
  display:flex;
  flex-wrap:wrap;
  align-content: flex-start;
  position: fixed;
  top: 75px;
  left: 400px;
  right:400px;

  overflow-x:auto;
  overflow-y:auto;
  background:#B04632;
  height: calc(100% - 75px);
}

.workspace-header .filter-label {
  color:white;
  font-weight:bold;
  text-transform:uppercase;
  font-size:12px;
}

/*
.queue-container {
  border: 1px solid #494949;
	flex-shrink:0;
	flex-grow:0;
	width: 370px;
	height: calc(100% - 40px);
	margin: 10px;
	padding: 10px;
	transition: all 0.5s ease;
	background: #E2E4E6;
  overflow-y:auto;
} */

.queue-container {
  border: 1px solid #494949;
	flex-shrink:0;
	flex-grow:0;
	width: 370px;
	margin: 10px;
	padding: 10px;
	transition: all 0.5s ease;
	background: #E2E4E6;
  overflow-y:auto;
}

.queue-header {
	height:30px;
}

.queue-list li {
	list-style-type:none;
}

.queue {
	height:calc(100% - 20px);
	overflow-y:auto;
}

.item {
	background:white;
	border-radius:4px;
  margin-bottom:10px;
}

.queue-container .item {
  box-shadow: 0 2px 5px lightgray;
}

.cursor-pointer :hover {
	cursor:pointer;
}


.item-header {
	padding: 10px;
	background: whitesmoke;
	font-size: 14px;
	font-weight: bold;
}


.sortable-chosen .item {
  background-color: gray;
}

.notification-badge {
  display: inline-block;
position: relative;
top: -5px;
right: 0px;
background-color: red;
color: white;
width: 15px;
font-size: 10px;
border-radius: 10px;
}

#card-detail-dialog .card-title:hover, #card-detail-dialog .card-to-field:hover {
  outline:none;
  cursor:pointer;
}

.estimate-box {
  background-color: gray;
  padding: 2px 5px;
  color: white;
  border-radius: 20px;
  font-size: 10px;
}
