<template name="itemList">
	<input id="filter-input" style="font-size:12px;border:1px solid lightgray;border-radius:5px;padding:5px;position:relative;top:10px;left:10px;width:90%;margin-bottom:20px" placeholder="Enter filter here" value={{filterQuery}}>
	<ul class="item-list">
		{{#if noItems}}
		{{#if noFilter}}
		<p class="empty-msg">No items found. Click <a href="" id="new-item-link">here</a> to create a new item</p>
		{{else}}
		<p class="empty-msg">No items found using current filter.  Click <a href="" id="clear-filter-link">here</a> to clear filter</p>
		{{/if}}
		{{else}}
		{{#each items}}
		{{> itemItemView}}
		{{/each}}
		{{/if}}
	</ul>
</template>
