<template name="leftSidebar">
	<div class="left-sidebar">
		<div class="tabs-header">
      <a id="project-summary-tab" class="{{activeTabClass 'project-summary-tab'}} tab"> <i class="fa fa-home"></i> Project</a>
      <a id="feed-tab" class="{{activeTabClass 'feed-tab'}} tab"> <i class="fa fa-bars"></i> Feed</a>
      <a id="search-tab" class="{{activeTabClass 'search-tab'}} tab"> <i class="fa fa-search"></i> Search</a>
			<!--<a id="labels-tab" class="{{activeTabClass 'labels-tab'}} tab"> <i class="fa fa-tag"></i> Labels</a>
			<a id="filters-tab" class="{{activeTabClass 'filters-tab'}} tab"> <i class="fa fa-filter"></i> Filters</a>-->
		</div>
    <div id="project-summary-tab" class="tab-body {{activeTabClass 'project-summary-tab'}}">
      {{> projectSummary }}
    </div>
      <div id="feed-tab" class="tab-body {{activeTabClass 'feed-tab'}}">
        {{> activityList }}
      </div>
		<div id="search-tab" class="tab-body {{activeTabClass 'search-tab'}}">
			<p style="padding:10px">Search will go here eventually!</p>
		</div>
	</div>
</template>
