<template name="leftSidebar">
	<div class="left-sidebar">
		<div class="tabs-header">
      <a id="items-tab" class="{{activeTabClass 'items-tab'}} tab"> <i class="fa fa-exclamation-circle"></i> Issues</a>
      <a id="discussions-tab" class="{{activeTabClass 'discussions-tab'}} tab"> <i class="fa fa-comments-o"></i> Discussions</a>
			<!--<a id="labels-tab" class="{{activeTabClass 'labels-tab'}} tab"> <i class="fa fa-tag"></i> Labels</a>
			<a id="filters-tab" class="{{activeTabClass 'filters-tab'}} tab"> <i class="fa fa-filter"></i> Filters</a>-->
		</div>
		<div id="items-tab" class="tab-body {{activeTabClass 'items-tab'}}">
			<!--<div class="filter-sentence-wrapper">
				<span id="filter-sentence">{{{filterSentence}}}</span> <span id="active-item-msg" class="{{showActiveItemMsgClass}}">#{{currentItemKey}} is active <i id="clear-active-item-icon" class="fa fa-times" title="Clear active item"></i></span>
			</div>-->
			{{> itemList}}
		</div>
    <div id="discussions-tab" class="tab-body {{activeTabClass 'discussions-tab'}}">
			{{> discussionList}}
		</div>
	</div>
</template>
