<template name="projectSummary">
  <div class="project-summary" style="padding:10px">
    <div class="dropdown-wrapper" style="position:relative">
      <div class="dropdown">
        <button style="border:none" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span style="font-size:18px">{{currentProjectTitle}}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          {{#each projects}}
          {{> projectMenuItem}}
          {{/each}}
        </ul>
      </div>
       <span class="label label-success" style="position:absolute;top:10px;right:10px">Open</span>
    </div>
    <div class="progress" style="margin-top:5px;margin-bottom:5px;margin-left:10px;margin-right:10px">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: {{percentage}}%">
      </div>
    </div>
    <span style="margin-left:10px;font-size:12px;color:gray">{{numOpenCards}} open / {{numClosedCards}} closed</span>
    <p>{{currentProjectDesc}}</p>
    <hr>
    <span class="ols-label">LISTS</span>
    <div class="list-group">
      <li id="backlog" class="list-group-item">
        <span class="badge" style="background-color:orange">{{backLogCount}}</span>
        <i class="fa fa-check" style="visibility:{{backLogVisibility}}"></i> Backlog
      </li>
      <li id="done-list" class="list-group-item">
        <span class="badge" style="background-color:green">{{doneListCount}}</span>
        <i class="fa fa-check" style="visibility:{{doneListVisibility}}"></i> Done List
      </li>
    </div>
    <span class="ols-label">MILESTONES</span>
    <div class="list-group">
      {{#each projectMilestones}}
      {{> projectSummaryMilestoneItem}}
      {{/each}}
    </div>
    <span class="ols-label">MEMBERS</span>
    <div class="list-group">
      {{#each projectMembers}}
      {{> projectSummaryMemberItem}}
      {{/each}}
    </div>
    <div class="list-group">
      <span class="ols-label">Other</span>
      <li id="discussion-list" class="list-group-item">
        <span class="badge">{{discussionListCount}}</span>
        <i class="fa fa-check" style="visibility:{{discussionListVisibility}}"></i> Discussions List
      </li>
    </div>
  </div>
</template>

<template name="projectSummaryMemberItem">
  <li class="list-group-item">
    <span class="badge">{{cardCount}}</span>
    <i class="fa fa-check" style="visibility:{{userListVisibility}}"></i> {{username}}
  </li>
</template>


<template name="projectSummaryMilestoneItem">
  <li class="list-group-item">
    <span class="badge">{{numOpenCards}}</span>
    <i class="fa fa-check" style="visibility:{{milestoneListVisibility}}"></i> {{title}}
    <div class="progress" style="margin-top: 5px;margin-bottom: 5px;">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: {{percentage}}%">
      </div>
    </div>
    <span style="color:gray;font-size:12px">{{numOpenCards}} open / {{numClosedCards}} closed </span>
  </li>
</template>
