<template name="explorePage">
	<div class="explore-page" style="opacity:0">
		<h1>Explore</h1>
		<h2><strong>Current Project:</strong> {{currentProjectTitle}}</h2>
		<ul id="box-list">
			{{#each currentProjectBoards}}
				{{> boardBoxItem}}
			{{/each}}
		</ul>

		<h2><strong>Your</strong> Projects</h2>
		<ul style="border-left:2px solid orange">
		{{#each allUserProjects}}
			{{> projectExploreItem}}
		{{/each}}
		</ul>
	</div>
</template>

<template name="projectExploreItem">
	<h3>{{title}}</h3>
	<ul id="box-list">
		{{#each boards}}
			{{> boardBoxItem}}
		{{/each}}
	</ul>
</template>

<template name="boardBoxItem">
	<li class="board box-item">
		<div class="top"><a class="title" href="">{{truncateString title 200}}</a> <i class="board-star-icon fa fa-star {{favouriteClass}}"></i> </div>
		<div class="bottom">
			<span>20 items, 18 open, 2 closed. {{numMessages}} messages.</span>
		</div>
	</li>
</template>
