<template name="explorePage">
	<div class="explore-page" style="opacity:0">
		<h1>Explore</h1>
		<h2>{{currentProjectTitle}}</h2>
		<ul id="box-list">
			{{#each currentProjectBoards}}
				{{> boardBoxItem}}
			{{/each}}
		</ul>
		<h2>All Your Projects</h2>
		<ul id="box-list">
			{{#each allUserProjects}}
				{{> projectBoxItem}}
			{{/each}}
		</ul>
		<h2>Your Favourite Boards</h2>
		<p>Coming Soon</p>
		<h2>Recommended Boards</h2>
		<p>Coming soon</p>
		<h2>Team Members</h2>
		<p>Coming soon</p>

	</div>
</template>

<template name="boardBoxItem">
	<li class="board box-item">{{truncateString title 200}}</li>
</template>

<template name="projectBoxItem">
	<li class="project box-item">{{truncateString title 200}}</li>
</template>
