<template name="newCardDialog">
  <div id="new-card-dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <i class="fa {{cardIconClass}} fa-3x" style="margin-right:10px"></i>
          <input tabindex="1" name="title" class="card-title modal-title" placeholder="Enter title here" style="width: calc(100% - 80px);font-size: 25px;font-weight: 100;">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body" style="padding:0;margin:0">
          <div style="display:flex;padding:10px;border-bottom:1px solid lightgray">
            <span style="margin-right:10px">TO:</span>
            <input  tabindex="2" style="width:500px"  name="to" placeholder="Assign to yourself or delegate (or leave empty and it will go in backlog)">
            <div class="row" style="float:left;display:flex;margin:0;margin-top: 0px;">
              <div>
                <span style="display:inline;margin-right:10px;color:gray">TYPE:</span>
                <select  tabindex="3" name="type">
                  <option value="post">Post</option>
                  <option value="discussion">Discussion</option>
                  <option value="question">Question</option>
                  <option value="task">Task</option>
                  <option value="enhancement">Enhancement</option>
                  <option value="bug">Bug</option>
                  <option value="req">Requirement</option>
                </select>
              </div>
              <div>
                <span style="display:inline;margin-left:30px;margin-right:10px;color:gray">PROJECT:</span>
                <select  tabindex="4" name="project">
                  {{#each projects}}
                  <option value="{{_id}}">{{title}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div tabindex="5" class="card-description" contenteditable style="min-height:500px; outline:none;padding:10px;font-size:18px">
          </div>
        </div>
        <div class="modal-footer">

          <button tabindex="6" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button tabindex="7" id="save-button" type="button" class="btn btn-success" data-dismiss="modal">{{createButtonLabel}}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
