<template name="newCardDialog">
  <div id="new-card-dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none;padding: 2px;margin-right: 5px;padding-left: 10px;">
              <i class="fa {{cardIconClass}} fa-3x" style="margin-right:10px"></i>
            </button>
            <ul class="dropdown-menu">
              <li id="set-type-task-button"><a href="#"><i class='fa fa-exclamation-circle'></i> Task</a></li>
              <li id="set-type-feature-button"><a href="#"><i class='fa fa-bullseye'></i> Feature</a></li>
              <li id="set-type-bug-button"><a href="#"><i class='fa fa-bug'></i> Bug</a></li>
              <li id="set-type-discussion-button"><a href="#"><i class='fa fa-comments-o'></i> Discussion</a></li>
            </ul>
          </div>
          <input tabindex="1" name="title" class="card-title modal-title" placeholder="Enter title here" style="width: calc(100% - 80px);font-size: 25px;font-weight: 100;">
        </div>
        <div class="modal-body" style="padding:0;margin:0">
          <div style="padding:10px;border-bottom:1px solid lightgray;">
            <div style="display:flex;justify-content:space-between">
              <div class="dropdown-wrapper">
              <span class="ols-label">Assign To: </span>
              <input  tabindex="2" style="width:250px"  name="assignee" placeholder="Type username here">
              </div>
              <div class="dropdown-wrapper">
              <span class="ols-label">Milestone: </span>
              <span class="dropdown">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{milestoneTagLabel}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  {{#each milestones}}
                    {{> newCardMilestoneMenuItem}}
                  {{/each}}
                  <li role="separator" class="divider"></li>
                  <li><a id="set-no-milestone" href="">No Milestone</a></li>
                </ul>
              </span>
              </div>
              <div class="dropdown-wrapper">
                <span class="ols-label">Estimate: </span>
                <span class="dropdown">
                  <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{estimateLabel}}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a id="set-estimate-small" href="#">Small</a></li>
                    <li><a id="set-estimate-medium" href="#">Medium</a></li>
                    <li><a id="set-estimate-large" href="#">Large</a></li>
                    <li><a id="set-estimate-unknown" href="#">Unknown</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a id="set-no-estimate" href="#">No Estimate</a></li>
                  </ul>
                </span>
              </div>
              <div class="dropdown-wrapper">
                <div class="dropdown">
                    <span class="ols-label">Status: </span>
                  <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{statusLabel}}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a id="set-status-new" href="#">New</a></li>
                    <li><a id="set-status-in-progress" href="#">In Progress</a></li>
                    <li><a id="set-status-blocked" href="#">Blocked</a></li>
                    <li><a id="set-status-in-test" href="#">In Test</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <textarea tabindex="5" class="card-description" style="border:none;clear:both;min-height:500px; outline:none;padding:10px;font-size:18px"></textarea>
        </div>
        <div class="modal-footer">

          <button tabindex="6" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button tabindex="7" id="save-button" type="button" class="btn btn-success" data-dismiss="modal">Create</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>


<template name="newCardMilestoneMenuItem">
  <li><a href="">{{title}}</a></li>
</template>
