<template name="newCardDialog">
  <div id="new-card-dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:none;padding: 2px;margin-right: 5px;padding-left: 10px;">
              <i class="fa {{cardIconClass}} fa-3x" style="margin-right:10px"></i>
            </button>
            <ul class="dropdown-menu">
              <li id="set-type-task-button"><a href="#"><i class='fa fa-exclamation-circle'></i> Task</a></li>
              <li id="set-type-feature-button"><a href="#"><i class='fa fa-bullseye'></i> Feature</a></li>
              <li id="set-type-bug-button"><a href="#"><i class='fa fa-bug'></i> Bug</a></li>
              <li id="set-type-discussion-button"><a href="#"><i class='fa fa-comments-o'></i> Discussion</a></li>
            </ul>
          </div>
          <input tabindex="1" name="title" class="card-title modal-title" placeholder="Enter title here" style="width: calc(100% - 80px);font-size: 25px;font-weight: 100;">
        </div>
        <div class="modal-body" style="padding:0;margin:0">
          <div style="padding:10px;border-bottom:1px solid lightgray;height:40px">
            <div class="pull-left">
              <span style="margin-right:10px">ASSIGN TO:</span>
              <input  tabindex="2" style="width:500px"  name="to" placeholder="Assign to yourself or delegate (or leave empty and it will go in backlog)">
            </div>
            <div class="pull-right">
              <div class="row" style="float:left;display:flex;margin:0;margin-top: 0px;">
                <div>
                  <span style="display:inline;margin-left:30px;margin-right:10px;color:gray">PROJECT:</span>
                  <select  tabindex="4" name="project">
                    {{#each projects}}
                    <option value="{{_id}}">{{title}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div tabindex="5" class="card-description" contenteditable style="clear:both;min-height:500px; outline:none;padding:10px;font-size:18px">
          </div>
        </div>
        <div class="modal-footer">

          <button tabindex="6" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button tabindex="7" id="save-button" type="button" class="btn btn-success" data-dismiss="modal">Create</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
