<template name="filterList">
	<ul id="filter-list">
		<li>
			<a id="issues-link" class="filter item" href="">
				<i id="type-icon" class="fa fa-filter"></i>
				<div id="content">
					<span id="title">Open Issues</span>
					<div id="meta">Show all open issues in the item list</div>
				</div>
			</a>
		</li>

		<li>
			<a id="bugs-link" class="filter item" href="">
				<i id="type-icon" class="fa fa-filter"></i>
				<div id="content">
					<span id="title">All Bugs</span>
					<div id="meta">Show all bugs in the item list</div>
				</div>
			</a>
		</li>

		<li>
			<a id="discussions-link" class="filter item" href="">
				<i id="type-icon" class="fa fa-filter"></i>
				<div id="content">
					<span id="title">All Discussions</span>
					<div id="meta">Show all discussions in the item list</div>
				</div>
			</a>
		</li>

		<li>
			<a id="assigned-to-me-link" class="filter item" href="">
				<i id="type-icon" class="fa fa-filter"></i>
				<div id="content">
					<span id="title">Assigned to me</span>
					<div id="meta">Show all items currently assigned to me</div>
				</div>
			</a>
		</li>

		<li>
			<a id="closed-link" class="filter item" href="">
				<i id="type-icon" class="fa fa-filter"></i>
				<div id="content">
					<span id="title">Closed Items</span>
					<div id="meta">Show all closed items</div>
				</div>
			</a>
		</li>
	</ul>
</template>
